<div>
  <h1>Inventory Management System</h1>

  <!-- ================= FORM ================= -->
  <form #productForm="ngForm" class="product-form">

    <h2>{{ isUpdate ? 'Update Product' : 'Add Product' }}</h2>

    <!-- Product Code -->
     <!-- [disabled]="isUpdate" -->
    <div class="form-group">
      <label>Product Code</label>
      <input
        type="text"
        name="productCode"
        required
        [(ngModel)]="productCode"
        #codeRef="ngModel"
        
        placeholder="Enter Product Code">

      <small class="error" *ngIf="codeRef.invalid && codeRef.touched">
        Product Code is required
      </small>
    </div>

    <!-- Product Name -->
    <div class="form-group">
      <label>Product Name</label>
      <input
        type="text"
        name="productName"
        required
        [(ngModel)]="productName"
        #nameRef="ngModel"
        placeholder="Enter Product Name">

      <small class="error" *ngIf="nameRef.invalid && nameRef.touched">
        Product Name is required
      </small>
    </div>

    <!-- Category -->
    <div class="form-group">
      <label>Category</label>
      <input
        type="text"
        name="productCategory"
        required
        [(ngModel)]="productCategory"
        #catRef="ngModel"
        placeholder="Enter Category">

      <small class="error" *ngIf="catRef.invalid && catRef.touched">
        Category is required
      </small>
    </div>

    <!-- Price -->
    <div class="form-group">
      <label>Price</label>
      <input
        type="number"
        name="productPrice"
        required
        min="1"
        [(ngModel)]="productPrice"
        #priceRef="ngModel"
        placeholder="Enter Price">

      <small class="error" *ngIf="priceRef.invalid && priceRef.touched">
        Price must be greater than 0
      </small>
    </div>

    <!-- Buttons -->
    <div class="btn-group">
      <button
        type="button"
        [disabled]="productForm.invalid"
        (click)="submitProduct(productForm)">
        {{ isUpdate ? 'Update' : 'Add' }}
      </button>

      <button type="button" (click)="clear(productForm)">
        {{ isUpdate ? 'Cancel' : 'Clear' }}
      </button>
    </div>

  </form>

  <hr>

  <!-- ================= TABLE ================= -->
  <div class="table-cont">
    <h1 style="text-align: center;">Product List</h1>

    <table class="product-table">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Price</th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.productCode }}</td>
          <td>{{ p.productName }}</td>
          <td>{{ p.productCategory }}</td>
          <td>{{ p.productPrice | currency:'INR' }}</td>

          <td class="action-buttons">
            <!-- Update -->
            <button
              *ngIf="editingProductCode !== p.productCode"
              class="btn btn-update"
              (click)="editProduct(p)">
              Update
            </button>

            <!-- Cancel -->
            <button
              *ngIf="editingProductCode === p.productCode"
              class="btn btn-cancel"
              (click)="clear(productForm)">
              Cancel
            </button>

            <!-- Delete -->
            <button
              class="btn btn-delete"
              (click)="deleteProduct(p.productCode)">
              Delete
            </button>
          </td>
        </tr>

        <!-- No data -->
        <tr *ngIf="products.length === 0">
          <td colspan="5" class="no-data">
            No products available
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
